.abc{
    width: 10px;
    align-self: flex-start;
    align-content: flex-end;
    display: flex;
    flex-wrap: wrap;
}

.logingoogle{
    margin: 20px;
    /* width: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .smallgoogle{
        display: none;
    }

}

@media only screen and (max-width: 600px) {
 
       .largegoogle{
        display: none;
    }
}